<form action="#" id="roi-form" class="roi-form">
  <select name="Country">
    <option value="" disabled selected>Country*</option>
    <option value="Argentina">Argentina</option>
    <option value="Australia">Australia</option>
    <option value="Austria">Austria</option>
    <option value="Bahamas">Bahamas</option>
    <option value="Belgium">Belgium</option>
    <option value="Brazil">Brazil</option>
    <option value="Bulgaria">Bulgaria</option>
    <option value="Cambodia">Cambodia</option>
    <option value="Cameroon">Cameroon</option>
    <option value="Canada">Canada</option>
    <option value="Cape Verde">Cape Verde</option>
    <option value="Central African Republic ">Central African Republic</option>
    <option value="Chile">Chile</option>
    <option value="China">China</option>
    <option value="Colombia">Colombia</option>
    <option value="Congo">Congo</option>
    <option value="Costa Rica">Costa Rica</option>
    <option value="Croatia">Croatia</option>
    <option value="Cuba">Cuba</option>
    <option value="Cyprus">Cyprus</option>
    <option value="Czech Republic">Czech Republic</option>
    <option value="Denmark">Denmark</option>
    <option value="Dominican Republic">Dominican Republic</option>
    <option value="Egypt">Egypt</option>
    <option value="Estonia">Estonia</option>
    <option value="Finland">Finland</option>
    <option value="France">France</option>
    <option value="Georgia">Georgia</option>
    <option value="Germany">Germany</option>
    <option value="Greece">Greece</option>
    <option value="Greenland">Greenland</option>
    <option value="Guatemala">Guatemala</option>
    <option value="Guinea">Guinea</option>
    <option value="Hong Kong">Hong Kong</option>
    <option value="Hungary">Hungary</option>
    <option value="Iceland">Iceland</option>
    <option value="India">India</option>
    <option value="Indonesia">Indonesia</option>
    <option value="Ireland">Ireland</option>
    <option value="Israel">Israel</option>
    <option value="Italy">Italy</option>
    <option value="Jamaica">Jamaica</option>
    <option value="Japan">Japan</option>
    <option value="Jordan">Jordan</option>
    <option value="Kenya">Kenya</option>
    <option value="South Korea">South Korea</option>
    <option value="Latvia">Latvia</option>
    <option value="Lebanon">Lebanon</option>
    <option value="Lithuania">Lithuania</option>
    <option value="Madagascar">Madagascar</option>
    <option value="Malaysia">Malaysia</option>
    <option value="Maldives">Maldives</option>
    <option value="Malta">Malta</option>
    <option value="Mexico">Mexico</option>
    <option value="Moldova">Moldova</option>
    <option value="Monaco">Monaco</option>
    <option value="Mongolia">Mongolia</option>
    <option value="Namibia">Namibia</option>
    <option value="Netherlands">Netherlands</option>
    <option value="New Zealand">New Zealand</option>
    <option value="Nigeria">Nigeria</option>
    <option value="Norway">Norway</option>
    <option value="Panama">Panama</option>
    <option value="Paraguay">Paraguay</option>
    <option value="Peru">Peru</option>
    <option value="Philippines">Philippines</option>
    <option value="Poland">Poland</option>
    <option value="Portugal">Portugal</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="Qatar">Qatar</option>
    <option value="Romania">Romania</option>
    <option value="Russian Federation">Russian Federation</option>
    <option value="Saudi Arabia">Saudi Arabia</option>
    <option value="Serbia">Serbia</option>
    <option value="Seychelles">Seychelles</option>
    <option value="Singapore">Singapore</option>
    <option value="Slovakia">Slovakia</option>
    <option value="Slovenia">Slovenia</option>
    <option value="South Africa">South Africa</option>
    <option value="Spain">Spain</option>
    <option value="Sweden">Sweden</option>
    <option value="Switzerland">Switzerland</option>
    <option value="Taiwan">Taiwan</option>
    <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
    <option value="Thailand">Thailand</option>
    <option value="Turkey">Turkey</option>
    <option value="Ukraine">Ukraine</option>
    <option value="United Arab Emirates">United Arab Emirates</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States">United States</option>
    <option value="Uruguay">Uruguay</option>
  </select>
  <select name="Industry">
    <option value="" disabled selected>Industry*</option>
    <option value="Communication">Communication</option>
    <option value="Consumer">Consumer</option>
    <option value="Education">Education</option>
    <option value="Energy">Energy</option>
    <option value="Entertainment">Entertainment</option>
    <option value="Financial">Financial</option>
    <option value="Health">Health</option>
    <option value="Hospitality">Hospitality</option>
    <option value="Industrial">Industrial</option>
    <option value="Media">Media</option>
    <option value="Pharma">Pharma</option>
    <option value="Public">Public</option>
    <option value="Research">Research</option>
    <option value="Retail">Retail</option>
    <option value="Services">Services</option>
    <option value="Technology">Technology</option>
    <option value="Transportation">Transportation</option>
    <option value="Other">Other</option>
  </select>
  <input type="number" name="NumberOfEmployees" id="number-of-employees" placeholder="Number of Employees*">
  <label for="monthly-email-volume">
    <input readonly oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" min="0" type="number" name="MonthlyEmailVolume" id="monthly-email-volume" placeholder="Monthly Email Volume">
    <img src="./images/icon-info.svg" alt="info" class="roi-form__icon">
    <div class="range-list__pop-up">
      <p class="range-list__text">ou can alter this figure based on your organization's actual traffic</p>
    </div>
  </label>
  <button type="submit" class="roi-form__submit">Calculate</button>
</form>
<p class="roi-form__error">Please fill in all mandatory fields</p>
